<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>News Editors</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Text Editors</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">

                <!--<form action="newsInsert" method="post" enctype="multipart/form-data">-->
                <div class="card-header">
                    ThaiHung Information
                </div>
                <!-- tools box -->
                <div class="card-body">
                    <div class="form-group">
                        <label>About us</label>
                        <textarea id="about" class="form-control" name="about" rows="4" placeholder="Enter ...">{{data.about.about}}</textarea>
                    </div>

                    <div class="form-group">
                        <label>Image</label>
                        <div>
                            <input type="file" id="imageFile" name="profile_pic">
                            <input type="hidden" value="{{data.about.image}}" id="imageFileURL" />
                        </div>
                        <img src="/{{data.about.image}}" id="imageFileReview" style="width:800px;" />
                    </div>

                    <div class="form-group">
                        <label>社名</label>
                        <!--<input type="text" id="shamei" name="shamei" value="{{data.about.shamei}}" class="form-control" placeholder="Enter ...">-->
                        <textarea id="shamei" class="form-control" name="shamei" rows="2" placeholder="Enter ...">{{data.about.shamei}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>本社住所</label>
                        <textarea id="honsha_location" class="form-control" name="honsha_location" rows="2" placeholder="Enter ...">{{data.about.honsha_location}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>工場</label>
                        <textarea id="koujou" class="form-control" name="koujou" rows="2" placeholder="Enter ...">{{data.about.koujou}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>連絡先</label>
                        <textarea id="renrakusaki" class="form-control" name="renrakusaki" rows="2" placeholder="Enter ...">{{data.about.renrakusaki}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>代表者</label>
                        <textarea id="daihyou" class="form-control" name="daihyou" rows="2" placeholder="Enter ...">{{data.about.daihyou}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>資本金</label>
                        <textarea id="shihon" class="form-control" name="shihon" rows="2" placeholder="Enter ...">{{data.about.shihon}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>従業員数</label>
                        <textarea id="insu" class="form-control" name="insu" rows="2" placeholder="Enter ...">{{data.about.insu}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>業務内容</label>
                        <textarea id="gyoumu" class="form-control" name="gyoumu" rows="2" placeholder="Enter ...">{{data.about.gyoumu}}</textarea>
                    </div>

                    <!---------------------->

                    <div class="form-group">
                        <label>Middle Banner</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="middleBannerD" name="middleBannerD" {{checkBox data.about.middleBannerD}}>
                            <label class="form-check-label" for="middleBannerD">Hide Middle Banner</label>
                        </div>
                        <div>
                            <input type="file" id="middleBanner" name="profile_pic">
                            <input type="hidden" value="{{data.about.middleBanner}}" id="middleBannerURL" />
                        </div>

                        <img src="/{{data.about.middleBanner}}" id="middleBannerReview" style="width:800px;" />
                    </div>

                    <!---------------------->



                    <div class="form-group">
                        <label>Represent 1</label>
                        <div>
                            <input type="file" id="tb1" name="profile_pic">
                            <input type="hidden" value="{{data.about.imageRep1}}" id="tb1URL" />
                        </div>
                        <img src="/{{data.about.imageRep1}}" id="tb1Review" style="width:277px;" />
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="rep1Name" name="rep1Name" value="{{data.about.repName1}}" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" id="rep1Pos" name="rep1Pos" value="{{data.about.repPos1}}" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="rep1Des" class="form-control" name="rep1Des" rows="2" placeholder="Enter ...">{{data.about.repDes1}}</textarea>
                    </div>

                    <!--<div class="form-group">
        <label>Represent 2</label>
        <div>
            <input type="file" id="tb2" name="profile_pic">
            <input type="hidden" value="{{data.about.imageRep2}}" id="tb2URL" />
        </div>
        <img src="/{{data.about.imageRep2}}" id="tb2Review" style="width:277px;" />
    </div>

    <div class="form-group">
        <label>Name</label>
        <input type="text" id="rep2Name" name="rep2Name" value="{{data.about.repName2}}" class="form-control" placeholder="Enter ...">
    </div>
    <div class="form-group">
        <label>Position</label>
        <input type="text" id="rep2Pos" name="rep2Pos" value="{{data.about.repPos2}}" class="form-control" placeholder="Enter ...">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea id="rep2Des" class="form-control" name="rep2Des" rows="2" placeholder="Enter ...">{{data.about.repDes2}}</textarea>
    </div>-->

                    <div class="form-group">
                        <label>Represent 3</label>
                        <div>
                            <input type="file" id="tb3" name="profile_pic">
                            <input type="hidden" value="{{data.about.imageRep3}}" id="tb3URL" />
                        </div>
                        <img src="/{{data.about.imageRep3}}" id="tb3Review" style="width:277px;" />
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" id="rep3Name" name="rep3Name" value="{{data.about.repName3}}" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Position</label>
                        <input type="text" id="rep3Pos" name="rep3Pos" value="{{data.about.repPos3}}" class="form-control" placeholder="Enter ...">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea id="rep3Des" class="form-control" name="rep3Des" rows="2" placeholder="Enter ...">{{data.about.repDes3}}</textarea>
                    </div>

                    <!---------------------->

                    <div class="form-group">
                        <label>Round Banner</label>
                        <div>
                            <input type="file" id="roundBanner" name="profile_pic">
                            <input type="hidden" value="{{data.about.roundBanner}}" id="roundBannerURL" />
                        </div>
                        <img src="/{{data.about.roundBanner}}" id="roundBannerReview" style="width:277px;" />
                    </div>

                    <!---------------------->

                    <div class="form-group">
                        <label>Video</label>
                        <input type="text" id="video" name="video" value="{{data.about.video}}" class="form-control" placeholder="Enter ...">
                    </div>

                    <div class="form-group">
                        <label>OUR STRONG POINT</label>
                        <textarea id="strongpoint" class="form-control" name="strongpoint" rows="6" placeholder="Enter ...">{{data.about.strongpoint}}</textarea>
                    </div>

                    <!---------------------->

                    <div class="form-group">
                        <label>Footer Image 1</label>
                        <div>
                            <input type="file" id="footerImage1" name="profile_pic">
                            <input type="hidden" value="{{data.about.footerImage1}}" id="footerImage1URL" />
                        </div>
                        <img src="/{{data.about.footerImage1}}" id="footerImage1Review" style="width:277px;" />
                    </div>

                    <!---------------------->

                    <div class="form-group">
                        <label>Footer Image 2</label>
                        <div>
                            <input type="file" id="footerImage2" name="profile_pic">
                            <input type="hidden" value="{{data.about.footerImage2}}" id="footerImage2URL" />
                        </div>
                        <img src="/{{data.about.footerImage2}}" id="footerImage2Review" style="width:277px;" />
                    </div>

                    <!---------------------->

                </div>
                <div class="card-footer">
                    <button id="updateNews" class="btn btn-primary">Submit</button>
                </div>

                <!-- /.card-body -->
                <!--<div class="card-tools">
                    <button type="button" class="btn btn-tool btn-sm" data-card-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool btn-sm" data-card-widget="remove" data-toggle="tooltip"
                            title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>-->
                <!-- /. tools -->
                <!--</form>-->
                <!-- /.card-header -->
                <div class="card-body pad">
                    <div class="mb-3">

                    </div>
                    <p class="text-sm mb-0">
                        Editor <a href="https://github.com/summernote/summernote">
                            Documentation and license information.
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
    <!-- ./row -->
    <input type="hidden" value="{{websiteURL}}" id="websiteURL" />
</section>

<script src="/plugins/summernote/summernote-bs4.min.js"></script>
<!--<script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>-->
<link rel="stylesheet" href="/plugins/jsgrid/jsgrid.min.css">
<link rel="stylesheet" href="/plugins/jsgrid/jsgrid-theme.min.css">
<link rel="stylesheet" href="/plugins/summernote/summernote-bs4.css">

<script>

    $(document).ready(function () {

        function sendFile(file, editor, welEditable) {
            data = new FormData();
            data.append("profile_pic", file);
            $.ajax({
                data: data,
                type: "POST",
                url: "/imageInsert",
                cache: false,
                contentType: false,
                processData: false,
                success: function (url) {
                    console.log(url);
                    var result = JSON.parse(url);
                    if (result.status == "OK") {
                        $('.textarea').summernote('insertImage', '/images/' + result.filename)
                    }
                }
            });
        }

		$('#imageFile,#tb1,#tb2,#tb3,#middleBanner,#roundBanner,#footerImage2,#footerImage1').on('change', function (e) {

			var elementID = this.getAttribute("id");

			if (this.files && this.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#' + elementID + 'Review').attr('src', e.target.result);
				}

				reader.readAsDataURL(this.files[0]); // convert to base64 string
			}

			//console.log($('#imageFile').val());
			// -----------------------

			var data = new FormData();
			data.append('profile_pic', $('#' + elementID)[0].files[0]);

			$.ajax({
				url: "/imageInsert",
				type: "POST",
				method: "POST",
				data: data,
				contentType: false,
				cache: false,
				processData: false,
				success: function (msg) {
					console.log(msg);

					var result = jQuery.parseJSON(msg);

					if (result.status == "OK") {
						$('#' + elementID + 'URL').val(result.filename);
					}
					else {
						//document.getElementById("imagePreview").src = '';
					}
				},
                error: function (request) {
                    alert('Error: ' + request.responseJSON.status.sqlMessage);
                    console.log(request);
                }
			});

		})

        $('#updateNews').on('click', function () {

            var about = $('#about').val();
			var image = $('#imageFileURL').val().startsWith('images/') ? $('#imageFileURL').val() : ('images/' + $('#imageFileURL').val());
			var shamei = $('#shamei').val();
			var honsha_location = $('#honsha_location').val();
			var koujou = $('#koujou').val();
			var renrakusaki = $('#renrakusaki').val();
			var daihyou = $('#daihyou').val();
			var shihon = $('#shihon').val();
			var insu = $('#insu').val();
			var gyoumu = $('#gyoumu').val();
            var video = $('#video').val();
            var strongpoint = $('#strongpoint').val();

			var imageRep1 = $('#tb1URL').val().startsWith('images/') ? $('#tb1URL').val() : ('images/' + $('#tb1URL').val());
			var rep1Name = $('#rep1Name').val();
			var rep1Pos = $('#rep1Pos').val();
			var rep1Des = $('#rep1Des').val();

			//var imageRep2 = $('#tb2URL').val().startsWith('images/') ? $('#tb2URL').val() : ('images/' + $('#tb2URL').val());
			//var rep2Name = $('#rep2Name').val();
			//var rep2Pos = $('#rep2Pos').val();
			//var rep2Des = $('#rep2Des').val();

			var imageRep3 = $('#tb3URL').val().startsWith('images/') ? $('#tb3URL').val() : ('images/' + $('#tb3URL').val());
			var rep3Name = $('#rep3Name').val();
			var rep3Pos = $('#rep3Pos').val();
			var rep3Des = $('#rep3Des').val();

			var middleBanner = $('#middleBannerURL').val().startsWith('images/') ? $('#middleBannerURL').val() : ('images/' + $('#middleBannerURL').val());
            var roundBanner = $('#roundBannerURL').val().startsWith('images/') ? $('#roundBannerURL').val() : ('images/' + $('#roundBannerURL').val());

			var footerImage1 = $('#footerImage1URL').val().startsWith('images/') ? $('#footerImage1URL').val() : ('images/' + $('#footerImage1URL').val());
			var footerImage2 = $('#footerImage2URL').val().startsWith('images/') ? $('#footerImage2URL').val() : ('images/' + $('#footerImage2URL').val());

            var middleBannerD = $('#middleBannerD').prop('checked');

            $.ajax({
				url: "/aboutUpdate",
                type: "POST",
                data: JSON.stringify({
                    about: about,
                    image: image,
                    shamei: shamei,
                    honsha_location: honsha_location,
                    koujou: koujou,
					renrakusaki: renrakusaki,
					daihyou: daihyou,
                    shihon: shihon,
					insu: insu,
					gyoumu: gyoumu,
                    video: video,
                    strongpoint: strongpoint,
                    imageRep1: imageRep1,
                    rep1Name: rep1Name,
                    rep1Pos: rep1Pos,
					rep1Des:rep1Des,
     //               imageRep2: imageRep2,
     //               rep2Name: rep2Name,
     //               rep2Pos: rep2Pos,
					//rep2Des: rep2Des,
                    imageRep3: imageRep3,
                    rep3Name: rep3Name,
                    rep3Pos: rep3Pos,
                    rep3Des: rep3Des,
                    middleBanner: middleBanner,
					middleBannerD: middleBannerD,
                    roundBanner: roundBanner,
					footerImage1: footerImage1,
					footerImage2: footerImage2
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (msg) {
                    console.log(msg);
                    location.href = '/admin/';
                },
                error: function () {

                }
            });

        })
    });
</script>