<div class="main facilites-page">
    <div class="banner">
        <div class="banner-img">
            <img class="w-100" src="/images/page/slide-1.png">
            <div class="page-title"><span>工場・会社</span></div>
        </div>
    </div>
    <div class="about">
        <div class="title text-center container">
            <h1>工場・会社</h1>
            <hr class="hr-line">
            <h3 class="color-blue">OUR FACTORIES</h3>
        </div>
        <div class="content">
            <div class="container text-center">
                {{data.facility.about}}
                <!--<div class="facilites">
        <img class="w-100" src="/images/page/image-15.png">
        <div class="img-name">
            本社：1B / 19/9 Kim Dong、Giap Bat、Hoang Mai、Hanoi <br />
            トランザクションオフィス：19/168 Kim Đong、Giap Bat、Hoang Mai、Hanoi
        </div>
    </div>-->
            </div>
        </div>
    </div>
    <!--<div class="human-banner-img">
        <img class="w-100" src="/images/page/image-10.png">
        <div class="overlay"></div>
        <div class="text">
            ベトナム北部にて操業5年。２０１７年に南部工場を設立。<br />
            北部ではCANNON, SAMSUNGといった主要日系.韓国系企業との取引実績あり。<br />
            袋や緩衝材に関することであればお気軽にお問い合わせください。
        </div>
    </div>-->

    <div class="factory container">
        <div class="factory__item">
            <div class="factory__item-img">
                <img class="w-100" src="{{data.facility.image1}}">
            </div>
            <div class="factory__item-info">
                <h3>{{data.facility.fac1}}</h3>
                <!--<div class="factory-name">Cum Cong nghiep Hoa Man, Tri Hoa, Thuan Thanh, Bac Ninh</div>-->
                <hr>
                <div class="info-table">
                    <div class="font-bold">生産能力・整備</div>
                    <div class="blank"></div>
                    <div class="font-bold">製品：</div>
                    <div class="">{{data.facility.f11}}  </div>
                    <div class="font-bold">主要機械</div> 
                    <div class="blank"></div>
                    <div>ブロー成形機（PP、PP)</div>
                    <div class="">{{data.facility.f12}}</div>
                    <div class="">断裁機 (PP,PE)</div>
                    <div class="">{{data.facility.f13}}</div>
                    <div class="">ラミネート加工機 </div>
                    <div class="">{{data.facility.f14}}</div>
                    <div class="">印刷機</div>
                    <div class="">{{data.facility.f15}}</div>
                    <div class="">貼り付け加工機</div>
                    <div class="">{{data.facility.f16}}</div>
                </div>
            </div>
        </div> 
        <div class="factory__item">
            <div class="factory-img-sm factory__item-img">
                <img class="w-100" src="{{data.facility.image2}}">
            </div>
            <div class="factory__item-info">
                <h3>{{data.facility.fac2}}</h3>
                <!--<div class="factory-name">Ap Tan Cang, Phuoc Tan, Bien Hoa, Dong Nai</div>-->
                <hr>
                <div class="info-table">
                    <div class="font-bold">生産能力・整備</div>
                    <div class="blank"></div>
                    <div class="font-bold">製品：</div>
                    <div class="">{{data.facility.f21}}  </div>
                    <div class="font-bold">主要機械</div>
                    <div class="blank"></div>
                    <div>ブロー成形機（PP、PP)</div>
                    <div class="">{{data.facility.f22}}</div>
                    <div class="">断裁機 (PP,PE)</div>
                    <div class="">{{data.facility.f23}}</div>
                    <div class="">ラミネート加工機 </div>
                    <div class="">{{data.facility.f24}}</div>
                    <div class="">印刷機</div>
                    <div class="">{{data.facility.f25}}</div>
                    <div class="">貼り付け加工機</div>
                    <div class="">{{data.facility.f26}}</div>
                </div>
            </div>
            <div class="factory-img-md factory__item-img">
                <img class="w-100" src="/images/page/image-16.png">
            </div>
        </div>
    </div>
    <div class="factory-video">
        <div class="container">
            <div class="demo-vid">
                <div class="video">
                    <iframe src="{{data.about.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="product-img">
                    <img src="/images/news/news-1.png">
                    <img src="/images/news/news-2.png">
                    <img src="/images/news/news-3.png">
                    <img src="/images/news/news-4.png">
                </div>
            </div>
        </div>
    </div>
    <div class="index factory">
        <div class="full-width-gallery">
            {{#each data.media}}
                <div class="gallery-div">
                    <a onclick="openPretty({{@index}}, '/{{this.source}}')" id="galleryImg-{{@index}}"><img class="w-100" src="/{{this.source}}"></a>
                </div>
            {{/each}}
        </div>
    </div>

    <input type="hidden" value="{{websiteURL}}" id="websiteURL" />

</div>
<div id="myModal" class="modal">

    <!-- The Close Button -->
    <span class="modalClose">&times;</span>

    <!-- Modal Content (The Image) -->
    <img class="modal-content" id="pretty">

    <!-- Modal Caption (Image Text) -->
    <div id="caption"></div>
</div>
<script>

    $(document).ready(function () {

        $(".menux").removeClass("menu-active");
        $(".menu-faci").addClass("menu-active");
    });

</script>